@import url(icons.css);
body {
    font: 11px Arial, Helvetica, sans-serif;
    background: #ffffff url(../images/main-bg.gif);
    padding: 0;
    margin: 0;
}

#tabscenter>div>div{    
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#tabscenter>div>div>div{
    background: none;
}
img {
    border: 0;
}
a{
    text-decoration: none;
}
.x-grid3-row-over .x-grid3-cell-inner {
    font-weight: bold;
    color: blue;
}
/* dock - top */
.dock {
    position: relative; 
    height: 50px; 
    text-align: center;
}
.dock-container {
    position: absolute;
    height: 50px;
    /*background: url(../images/dock-bg2.gif);*/
    padding-left: 20px;
    left: -329px;
    width: 354px;
}
a.dock-item {
    display: block;
    width: 40px;
    color: #000;
    position: absolute;
    top: 0px;
    text-align: center;
    text-decoration: none;
    font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
    border: none; 
    margin: 5px 10px 0px; 
    width: 100%; 
}
.dock-item span {
    display: none; 
    padding-left: 20px;
}
/* dock2 - bottom */
#dock2 {
    width: 100%;
    bottom: 0px;
    position: absolute;
    left: 0px;
}
.dock-container2 {
    position: absolute;
    height: 50px;
    background: url(../images/dock-bg.gif);
    padding-left: 20px;
}
a.dock-item2 {
    display: block; 
    font: bold 12px Arial, Helvetica, sans-serif;
    width: 40px; 
    color: #000; 
    bottom: 0px; 
    position: absolute;
    text-align: center;
    text-decoration: none;
}
.dock-item2 span {
    display: none;
    padding-left: 20px;
}
.dock-item2 img {
    border: none; 
    margin: 5px 10px 0px; 
    width: 100%; 
}
#data{
    margin: 0;
}
#logo1{  
    padding: 4px;
    float: left;
}
#logo2{  
    padding: 2px;
    float: left;
    /*width: 600px;*/
}
#headout{
    padding: 5px 5px 0 0;
    float: right;
    width: 540px;
    font-size: 12px;
    font-family: verdana, arial;    
}
#headout2{

    float: right;
    width: 140px;
    font-size: 12px;
    font-family: verdana, arial;
    padding-top: 5px;
    /*color:#000033;*/
    font-weight:bold;
    color: #FFFFFF;
}
#headout4{

    float: right;
    width: 140px;
    font-size: 12px;
    font-family: verdana, arial;
    padding-top: 5px;
    /*color:#000033;*/
    font-weight:bold;
    color: #FFFFFF;
}
#footer{

    float:left;
    padding-top: 5px;
    padding-left: 5px;
    font-weight: bold;
    width:900px;
    /*position:absolute;*/
    color: #FFFFFF;
    font-size: 14px;
}
.optsmenu {
    font-size: 11px;
    font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;  
}
body .x-panel {
    margin-bottom:20px;
}
.icon-grid {
    background-image:url(../images/icons/grid.png) !important;
}
#button-grid .x-panel-body {
    border:1px solid #99bbe8;
    border-top:0 none;
}
.add {
    background-image:url(../images/icons/add.gif) !important;
}
.remove {
    background-image:url(../images/icons/delete.png) !important;
}
.check {
    background-image:url(../images/icons/check.png) !important;
}
.edit-grid{
    background-image:url(../images/icons/edit.png) !important;
}
.search{
    background-image:url(../images/icons/search.gif) !important;
}
.option {
    background-image:url(../images/icons/plugin.gif) !important;
}
.refresh {
    background-image:url(../images/icons/table_refresh.png) !important;
}
.save {
    background-image:url(../images/icons/save.gif) !important;
}

.aceptar {
    background-image:url(../images/icons/aceptar.png) !important;
}

.lock_go {
    background-image:url(../images/icons/lock_go.png) !important;
}

.application_split {
    background-image:url(../images/icons/application_split.png) !important;
}

.user_edit {
    background-image:url(../images/icons/user_edit.png) !important;
}

._user {
    background-image:url(../images/icons/contribuyente.png) !important;
}

.print-grid{
    background-image:url(../images/print.png) !important;
}
.red { 
    color: red;
}
.redcell { 
    background-color:#10841b !important;
}

.greenrow { 
    background-color:#10841b !important;
}

.yellowrow { 
    background-color:#10841b !important;
}

.pinkrow { 
    background-color:#10841b !important;
}

.x-grid3-col-classCompanyID { 
    background-color:#10841b !important;
}

.x-grid3-td-HorarioE { 
    background-image: url(../ext/resources/images/default/grid.gif);
    background-position: right;
    background-repeat: no-repeat;
    cursor: pointer;
}


.stars1 { 
    background-image:url(../images/icons/dentro.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.stars2 { 
    background-image:url(../images/icons/fuera.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.stars3 { 
    background-image:url(../images/icons/book.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}


.x-grid3-hd-row td.ux-filtered-column {   
    font-style: italic;  
    font-weight: bold;
}	

#loading{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    margin: 5.5%  0 0 16%;
    left: 0%;  
    height: 20px;
    line-height: 1; 
    background-color: #10841b;
    border: 1px solid #000000;
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    opacity: 0.80; 
}


legend {
    color: #15428B;
    font-weight: bold;      
    font-size: 11px;
    font-family: verdana;     
    padding: 0 0 5px 0;
}

fieldset{  
    border: 1px solid #cccccc;
    padding: 5px;
}

._icono{
    width: 18px;
    height: 18px;
}

._icono2{
    width: 24px;
    height: 24px;
}

/*Modificaciones*/
.x-border-panel-principal {
    background: -webkit-linear-gradient(top, #3F99AD,#1f8be6);
    background: -o-linear-gradient(top, #3F99AD,#1f8be6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #3F99AD,#1f8be6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #3F99AD,#1f8be6); /* Standard syntax */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3F99AD', endColorstr='#1f8be6',GradientType=1 );
    background: linear-gradient(top, #3F99AD 0%,#1f8be6 100%);
}

.x-panel-header {
    background-color: #72a51c;        
}

#logo2 {
    border: 0px solid black;
    top: 2px;
    height: 50px;
    color: #FFFFFF;
}

#logo2 img {
    padding-top: 3px;
    padding-left: 15px;
    float: left;
    height:50px; 
    width: 60px;
}

#logo2 .texto {
    border: 0px solid black;
    padding-top: 12px;
    padding-left: 40px;
    font-size: 14px;
    font-weight: bold;
    width: 650px;
}

.estiloCampos {
    padding-left:1px;
    position:relative;
    width:10px  !important;
}

/* documentos */
.nuevodoc{
    background-image:url(../images/icons/building_add.png) !important;
}
.editdoc{
    background-image:url(../images/icons/building_edit.png) !important;
}
.anulardoc{
    background-image:url(../images/icons/delete2.png) !important;
}
.recepbarradoc{
    background-image:url(../images/icons/text_columns.png) !important;
}
.recepdoc{
    background-image:url(../images/icons/education.png) !important;
}
.devolverdoc{
    background-image:url(../images/icons/goback.jpg) !important;
}
.derivardoc{
    background-image:url(../images/icons/gonext.jpg) !important;
}

.entregardoc{
    background-image: url(../images/icons/book.png) !important;
}

#btnreiterativo1{
    font-weight:bold;
    font-size: 15px;
}
#btnreferencia1{
    font-weight:bold;
    font-size: 15px;
}
/* Fn */
/* Grid cells when the mouse cursor is over the row */ 
.custom-grid .x-grid-row-over .x-grid-cell { 
    background-color: #ff6; 
    border-bottom-color: #999; 
    border-bottom-style: dashed; 
    border-top-color: #999; 
    border-top-style: dashed; 
} 

/* Grid cells in the selected row */ 
.custom-grid .x-grid-row-selected .x-grid-cell { 
    background-color: #ff0 !important; 
    border-bottom-color: #999; 
    border-bottom-style: solid; 
    border-top-color: #999; 
    border-top-style: solid; 
}
/*+++++++++++++++++++++++++++++++++CSS-> HORARIOS+++++++++++++++++++++++++++++++++++*/
.casilla{
    width:170px;
    height:30px;
    text-align: center;
    position: static;
}
.casilla b{
    font-size: 9px;
    text-align: center;
}
.cuadro{
    width:700px;
    position: static;
}
.botones{
    width:100%;
    height:100%;
    background-color: rgb(255, 247, 239);
    font-size: 7px;
    text-align: center;
    font-weight: bold;
    position: static;
}
.boton_explore{
    background: url('../images/icons/co3.gif'); 
    background-position:center; 
    background-repeat:no-repeat;
    margin-left: 100px;
    width: 300px;
    height: 40px;
}
.boton_guardar{
    background: url('../images/icons/save.gif'); 
    background-position:center; 
    background-repeat:no-repeat;
    margin-left: 100px;
    width: 300px;
    height: 40px;
}
.boton_imprimir{
    background: url('../images/icons/ireport.png'); 
    background-position:center; 
    background-repeat:no-repeat;
    margin-left: 100px;
    width: 300px;
    height: 40px;
}
.boton_editar{
    background: url('../images/icons/edit.png'); 
    background-position:center; 
    background-repeat:no-repeat;
    margin-left: 100px;
    width: 300px;
    height: 40px;
}
.boton_nuevo{
    background: url('../images/icons/add.gif'); 
    background-position:center; 
    background-repeat:no-repeat;
    margin-left: 100px;
    width: 300px;
    height: 40px;
}

.finalizar_generar{
    background-image:url(../images/icons/pdf.png) !important;
}

.SinExp{
    background-color: #D3D3D3  !important;
}
.Cancelado{
    background-color: #00FF00 !important;
}




/*<!--
table { vertical-align: top; }
tr    { vertical-align: top; }
td    { vertical-align: top; }
-->
<!--
table.page_header {width: 100%; border: none; height: 1px; padding-top: 7mm}
table.page_header2 {width: 100%; border: none; height: 1px; padding-top: 0mm}
table.page_footer {width: 100%; border: none; height: 1px; padding: 2mm}*/