iframe {background-color: #FF0000; }
body {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	margin: 0px;

/*	scrollbar-face-color: #EBEBEB;
	scrollbar-shadow-color: #C1C6CC;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #134F8D;
	scrollbar-darkshadow-color: #134F8D;
	scrollbar-track-color: #EBEBEB;
	scrollbar-arrow-color: #134F8D;*/
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0px;
	}
.c-azulopaco {
	background-color: #999999;
	}
.menu-title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0000CC;
	width: 160px;
	line-height: 20px;
	text-indent: 4px;
	}
.menu-link {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 17px;
	}
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0000CC;
	line-height: 20px;
	text-indent: 4px;
	}
.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background-color: #000099;
	line-height: 16px;
	}
.row01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #F0F0F0;
	text-indent: 2px;
	}
.row02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #FFFFFF;
	text-indent: 2px;
	}
.row03 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #660000;
	background-color: #FFFFFF;
	text-indent: 2px;
	font-weight: bold;
	}
.row031 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #660000;

	
	font-weight: bold;
	}

.line01 {
	background-color: #134F8D;
	}
.row-link:link, .row-link:visited  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-indent: 2px;
	font-weight: bold;
	text-decoration: none;
	}
.row-link:hover, .row-link:active  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0000FF;
	text-indent: 2px;
	font-weight: bold;
	text-decoration: underline;
	}
.copyleft, .copyleft:link, .copyleft:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #134F8D;
	text-decoration: none;
	}
.copyleft:hover, .copyleft:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #134F8D;
	text-decoration: underline;
	}
input, select, textarea {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #660000;
	background-color: #F3F3F3;
	}
.f-checkbox {
	background-color: #EBEBEB;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 0px solid #00509F;
	}
.f-input, .f-select, .f-textarea {
	background-color: #EBEBEB;
	font-size: 10px;
	border: 0px solid #FFFFFF;
	}
.f-button {
	background-color: #FFFFFF;
	color: #660000;
	cursor: hand;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	border: 2px solid #660000;
	}
.f-input, .f-select, .f-textarea {
	background-color: #FFFFFF;
	font-size: 10px;
	border: 0px solid #024C69;
	}
.texto {
	color: #663333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	text-indent: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	line-height: normal;
	}
.error{
	color: red;
}
#img{
	visibility:hidden;
	z-index: 0;
}
.c-azul {
	background-color: #660000;
	}
.radio-row01 {
	background-color: #f0f0f0;
	border: 0px solid #FFFFFF;
}
.radio-row02 {
	background-color: #FFFFFF;
	border: 0px solid #FFFFFF;
}
.radio-subtitle {
	background-color: #134F8D;
	border: 0px solid #FFFFFF;
}

/*Clases para el calendario*/

.title-opts {
	background-color: #163E83;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
}
.smenu02,.smenu02:link,.smenu02:visited {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #163E83;
	text-indent: 4px;
	text-decoration: none;
	}
.smenu02:hover,.smenu02:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-indent: 4px;
}
.c01 {
	background-color: #163E83;
}
.c02 {
	background-color: #ffffff;
}
.c03 {
	background-color: #97A4C9;
}
.c04 {
	background-color: #163E83;
}
.c05 {
	background-color: #163E83;
}
.c06 {
	background-color: #163E83;
}
.c07 {
	background-color: #163E83;
}
.c08 {

	border-color:#ff0000;
	border-width:2px;
	border-style:Solid;
}
.c09 {
	background-color: #163E83;
}

.c10 {
	background-color: #163E83;
}
.dotted-top{

	border-top-style: dotted;
	border-top-width: 1;
	border-color: #ff0000;
	}

/*F�n de clases para el calendario*/
