#input
{
	/*position:relative;*/
	width:350px;
	padding: 2pt;
	border:1px solid;
}
#input_b
{
	/*position:relative;*/
	width:350px;
	padding: 2pt;
	border:1px solid;
}

#reloj
{
	position:relative;
	vertical-align: bottom;
	visibility: hidden;
}
#reloj_bien
{
	position:relative;
	vertical-align: bottom;
	visibility: hidden;
}

#lista
{
	width:280px;
	background-color:#ffffff;
	color:#000000;
	border:1px solid;
	border-color:#000000;
	z-index:1;
	display:none;
	margin-top: 5px;
}
#lista_bien
{
	width:280px;
	background-color:#ffffff;
	color:#000000;
	border:1px solid;
	border-color:#000000;
	z-index:1;
	display:none;
	margin-top: 5px;
}
#lista_bien a
{
	display: block;
	background-color:#ffffff;
	padding: 2pt;
}
#lista a
{
	display: block;
	background-color:#ffffff;
	padding: 2pt;
}
#lista_bien a:hover
{
	background-color:#FFFFCC;
}

#lista a:hover
{
	background-color:#FFFFCC;
}
.dataRows, .dataCols{
	width: 100%;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	font-size: 11px;  
}

.dataCols td{
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 2px 3px 0 4px;    
}
.dataCols tr, .dataRows tr, .dataNone tr{
  height: 20px; 
}
th{
	border-bottom: 1px solid #99BBE8;
	border-top: 1px solid #99BBE8;
	color: #000000;	
	/*background-color: #3465CB;*/
  background-color: #D2E1F4;
	padding: 4px 0;	
  /*font-weight: bold;*/
  text-align: center;
}
.suggestionsBox {
		position: absolute; 
		background-color: #659CD8; 
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border: 2px solid #000;	
		color:#0099FF;
		z-index:99;
	}
	
.avisos {
		position: absolute; 
		top:200px;
		border: 1px solid #000;	
		
		width:30%;
		color:#99FF66;
		left:400px;
		background-color:#FFFFFF;
	}	
