.titulo {
   font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size : 20pt;
   text-align : left;
   color : Black;
   font-weight : bold;
   margin-left : 15px;
}
.texto {
   font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size : 10pt;
   text-align : left;
   color : Black;
   margin-left : 15px;
}
.block {
   display : block;
   font-family : courier New;
   font-size : 11pt;
   letter-spacing : 6px;
   text-align : left;
   color : Black;
  margin-left : 20px;
   font-weight : bold;
}
.block1 {
   display : block;
   font-family : courier New;
   font-size : 10pt;
   letter-spacing : 6px;
   text-align : left;
   color : Black;
font-weight : bold;
}
.block2 {
   display : block2;
   font-family : courier New;
   font-size : 10pt;
   letter-spacing : 3px;
   text-align : left;
   color : Black;
 font-weight : bold;
}

.block21 {
   display : block21;
   font-family : courier New;
   font-size : 9pt;
   letter-spacing : 0px;
   text-align : left;
   color : Black;
 font-weight : bold;
}
.inline {
	display : inline;
	font-family : courier New;
    font-size : 11pt;
	letter-spacing : 3px;
	text-align : left;
   color : Black;
}
.list{
	display : list-item;
	font-family : courier New;
    font-size : 11pt;
	letter-spacing : 3px;
    text-align : left;
   color : Black;
	margin-left : 35px;
}
.none{
	display : none;
	font-family : courier New;
    font-size : 11pt;
	letter-spacing : 3px;
    text-align : left;
   color : Black;
}



   

  	