BODY {
	margin: 0px 0px 0px 0px;
	color : #333;
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 8px;*/
}
a {
	color: #ff6600;
	text-decoration: underline;
}
a:hover {
	color : #30569D;
	text-decoration : underline;
}
a:active {
	color : #FF9900;
	text-decoration : underline;
}

.smallgrey {
	color : #999;
	font-size : 10px;
}
.error {
	color : #C40000;
	font-size : 11px;
	font-weight : bold;
}
.contentheading, .componentheading, .moduleheading {
	font-size: 14px;
	font-weight: bold;
}
table.menubar {
	width: 100%;
}
/* standard list style table */
table.adminlist {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: px solid #CCCCCC;
	border-spacing: 0px;
	/*width: 100%;*/
	border-collapse: collapse;
}

B.b {
	font-size: 11px;
}

table.adminlist th {
	margin: 0px;
	padding: 1px 1px 1px 1px;
	/*height: 20px;*/
	background-repeat: repeat;
	font-size: 12px;
	border: px solid #333333;
}

table.adminlist th.title {
	text-align: center;
}

table.adminlist th a {
	color: #ff9900;
}

table.adminlist tr.row0 {
	background-color: #F5F5F5;
}
table.adminlist tr.row1 {
	background-color: #FFF;
}

table.adminlist tr.head {
	border: 1px solid #333333;
}
table.adminlist td {
	font-size: 11px;
	padding-left: 2px;
	/*text-align: left;*/
   	border: 1px solid #333333;   
}

table.adminlist th {
	font-size: 11px;
	padding-left: 2px;
	/*text-align: left;*/
   	border: 1px solid #333333;   
}

table.adminlist2 td {			/*creado para el resumen de la planilla*/
	font-size: 12px;
	padding-left: 2px;
	/*text-align: left;*/
}

table.adminlist td.money {
/*	border: 1px solid #e5e5e5;*/
 /*   border: 1px solid #666666;/**/
	font-size: 11px;
	padding-left: 2px;
	text-align: right;
}

table.adminlist th.money {
	text-align: right;
}

table.adminlist tr.row0:hover {
	background-color: #f1f1f1;
}
table.adminlist tr.row1:hover {
	background-color: #f1f1f1;			/*Color del la fila cuano apunta el mou*/
}
table.adminlist td.options {
	background-color: #ffffff;
	font-size: 8px;
}

table.adminlist2 td.options {			/*creado para el resumen de la planilla*/
	background-color: #ffffff;
	font-size: 8px;
}

/* Text passed with mosmsg url parameter */

.quote {
	margin: 4px;
	border: 1px solid #cccccc;
	background-color: #E9ECEF;
	padding: 10px;
	font-size: 12px;
	color: #254D78;
}
table.adminlist  th.tit {
	font-size: 11px;
	padding-top: 6px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: left;
	height: 16px;
	color: #ffffff;
	background: url(../images/background.gif);
	background-repeat: repeat;
}

table.small {
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px 2px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
}

table.small td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}

table.adminlist td.rojo {
	color: #dd0000;
	text-align: right;
	font-weight: bold;
}
table.adminlist td.azul {
	color: #000000;
	text-align: right;
}

table.adminlist2 {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 0px solid #ffffff;
	border-spacing: 0px;
	/*width: 100%;*/
	border-collapse: collapse;
}

table.adminlist2 th{
	margin: 0px;
	padding: 0px 1px 0px 1px;
	font-size: 9px;
	border: 1px solid #dddddd;
	text-align: left;
}

table.adminlist2 td {
	text-align: left;
	font-size: 9px;
	border-top: 1px solid #cccccc;
}

table.adminlist2 td.money {
	text-align: right;
}

table.adminlist2 th.money {
	text-align: right;
	font-size: 11px;
}

table.adminlist2 th.main {
	text-align: center;
	font-size: 11px;
}
.printer {
	position:	absolute;
	top:	10px;
}
.printer a, a:hover, a:link{
 	color:blue;
}
.printerx a, a:hover, a:link{
 	color:blue;
}
/*@media print {
   .printer { display: none; }
   .printer a{ display: none; }
   .printerx { display: none; }
   .printerx a{ display: none; }

}*/

/*------------------saltos de pagina en la impresion--------------------*/

@media all {  
	.page-break { 
		display:none; 
	}  
}  
@media print {  
	.page-break { 
		display:block; 
		page-break-before:always; 
	}  
} 

/*PageBreak {
	page-break-after: always
}

PageBreak {
	page-break-before:always;
	height:0;
	line-height:0;
}

PageBreak {
	<!--[if IE]>
	<div style="page-break-before: always;height:0; line-height:0;"></div>
	<![endif]-->
	<![if !IE]>
	<div style="page-break-before: always;"></div>
	<![endif]>
}*/

