td, table, div {
	text-align: left;
	font-family:tahoma;
	font-size:11px;
	line-height:14px;
	vertical-align:top;
	color:#494949
	
}
a:hover{ text-decoration:none}
form { margin:0px; padding:0px; }
body { margin:0; padding:0; background-image: url(includes/css/images/tall_body.gif); background-repeat:repeat-x}
strong, strong a{ color:#E55900}

.list ul{margin:0px; padding:0px; list-style:none; line-height:20px}
.list ul li { background:url(images/marker.gif) top left no-repeat; padding:0 0 0 18px;}
.list ul li a{ color:#273A00; font-weight:bold; text-decoration:underline}
.list ul li a:hover{text-decoration:none}

.list1 ul{margin:0px; padding:0px; list-style:none;}
.list1 ul li { width:187px; height:18px; background:url(images/list.gif) top left no-repeat; padding:0 0 0 54px; margin:3px 0 0 0}
.list1 ul li a { color:#6E0C07; text-decoration:none;}
.list1 ul li strong a { color:#273A00; text-decoration:none}
.list1 ul li strong a:hover{text-decoration:underline}
.list1 ul li a:hover{text-decoration:underline}
.list1 ul li span a { font-size:9px}

.list2 ul{margin:0px; padding:0px; list-style:none;}
.list2 ul li { width:172px; height:18px; background:url(images/list2.gif) top left no-repeat; padding:0 0 0 42px; margin:3px 0 0 0}
.list2 ul li a { color:#6E0C07; text-decoration:none;}
.list2 ul li strong a { color:#273A00; text-decoration:none}
.list2 ul li strong a:hover{text-decoration:underline}
.list2 ul li a:hover{text-decoration:underline}
.list2 ul li span a { font-size:9px}

.list3 ul{margin:0px; padding:0px; list-style:none;}
.list3 ul li { width:187px; height:18px; background:url(images/list.gif) top left no-repeat; padding:0 0 0 45px; margin:3px 0 0 0}
.list3 ul li a { color:#6E0C07; text-decoration:none;}
.list3 ul li strong a { color:#273A00; text-decoration:none}
.list3 ul li strong a:hover{text-decoration:underline}
.list3 ul li a:hover{text-decoration:underline}
.list3 ul li span a { font-size:9px}

span strong a{color:#494949; text-decoration:underline; font-weight:normal}

span{ color:#272727}
span b a{ color:#272727; text-decoration:underline}

.tall_y{ background-image:url(images/tall_y.gif); background-repeat:repeat-y}
.margin{ margin-left:19px; margin-top:31px}
.privacy span{ color:#3C5118}
.privacy a{ color:#7B4218}
.privacy b a{ color:#273A00; font-weight:normal; text-decoration:none}
.privacy b a:hover{text-decoration:underline}

.form input {
	width:214px;
	height:20px;
	font-family:tahoma;
	font-size:11px;
	color:#494949;
	padding:0 0 0 4px;
	border-color:#D5D5D5;
	border-width:1px;
	border-style:solid;
	background-color:#ffffff
}
.form1 input {
	width:48px;
	height:28px;
	border-color:#FFFFFF
	 
}

.form textarea {
	width:214px;
	height:155px;
	font-family:tahoma;
	font-size:11px;
	color:#494949;
	padding:3 0 0 4px;
	margin:0 0 0 3px;
	overflow:hidden;
	border-color:#D5D5D5;
	border-width:1px;
	border-style:solid;
	background-color:#ffffff
}
	
